@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  font-family: "Raleway";
  font-size: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #101820FF;
  color: #F2AA4CFF;
}
