@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Griffy&display=swap');
body {
  font-family: "Griffy","Raleway";
  font-size: 140px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background-color: #101820FF;
  color: #ff8000;
  text-align: center;

}

.button {
  font-family: "Griffy","Raleway";
  background: #101820FF;
  color: #ff8000;
  font-size: 20px;
  width: 200px;
  height: 50px;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 7%;
  border: 2px solid #ff8000;
}

.button:hover {
  background: #8c8a82;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 60px;
  }
  .button {
    height: 30px;
    width: 140px;
    font-size: 15px;
    margin-top: 25%;
  }
}

html::after {
  content: "";
  background: url(ghosts.png);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
